<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" type="text/css" href="/css/customer/index.css">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div>
            <div class="main_top">
                <span class="text_deco01">문의 게시판</span>
            </div>
            <hr width = "100%" color="#414141" size = "3">
            <nav id="customer_menu_bar">
                <table id="customer_menu_bar_table">
                    <tr>
                        <td><a href="/customer" class="customer_menu_link_deco">홈</a></td>
                        <td><a href="/customer/myquestion" class="customer_menu_link_deco">내 문의 내역</a></td>
                        <td><a href="/customer/questionboard" class="customer_menu_link_deco">문의하기</a></td>
                    </tr>
                </table>
            </nav>
            <hr width = "100%" color="#414141" size = "3">
            <div class="question_section">
                <div class="main_top">
                    <span class="text_deco02">내 문의 내역</span>
                    <a href="/customer/question/add" class="add_question_btn">문의 하기</a>
                </div>
                <div class="question_table">
                    <table width="100%">
                        <thead>
                            <tr>
                                <th class="text_deco03">NO.</th>
                                <th class="text_deco04">제목</th>
                                <th class="text_deco05">문의 날짜</th>
                                <th class="text_deco06">답변 여부</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for(var i = 0; i < myquestions.length; i++){ %><!-- 내 문의 내역 리스트 -->
                            <tr>
                                <td class="text_deco07"><%= i+1 %></td>
                                <td class="text_deco08"><%= myquestions[i].subject %></td>
                                <td class="text_deco09"><%= myquestions[i].createdAt %></td>
                                <td class="text_deco10"><% if(myquestions[i].is_answer) { %> <a href="/customer/detail/<%= myquestions[i]._id %>"> 답변 완료 </a>
                                    <% } else { if(user) { if(user.is_admin) { %> <a href="/customer/detail/<%= myquestions[i]._id %>">답변 전</a>
                                    <% } else { %> <a href="/customer/detail/<%= myquestions[i]._id %>"> 답변 전 </a> <% }}} %></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/locale/ko.min.js"></script>
    <script src = 'https://unpkg.com/axios/dist/axios.min.js'></script>
    <script type="text/javascript" src="/javascript/iframe.js"></script>
    <script>
        window.onload = () => {
          if (new URL(location.href).searchParams.get('error')) {
            alert(new URL(location.href).searchParams.get('error'));
          }
        };
        const start_date = document.getElementsByClassName("text_deco09");
        for(i = 0; i < start_date.length; i++){
            start_date[i].textContent = moment(start_date[i].textContent).format('LL');
        }
    </script>
</html>